// Задание 1. Стили.

* {
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.header {
    background: lightgray;
    height: 60px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-button {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 5px 10px;
    
    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: aqua;
    }
}

.main {
    padding: 20px 100px;
}

.catalog {
    padding: 0 20px 20px 20px;
    background-color: #f0eec5;

    & p {
        font-size: 30px;
        text-align: center;
        padding: 20px;
    }
}

.goods {
    &-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
    }

    &-item {
        width: 200px;
        height: 400px;
        background-color: rgb(190, 190, 190);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto auto 50px;

        & img {
            width: 180px;
            height: 180px;
            margin: 10px;
        }

        & h3 {
            align-self: center;
            justify-self: center;
        }

        & p {
            align-self: center;
            justify-self: center;
        }
        
        & button {
            border: 1px solid black;
            border-radius: 1rem;
            padding: 5px 10px;
            margin: 10px;

            &:hover {
                cursor: pointer;
            }

            &:active {
                background-color: aqua;
            }
        }
    }
}


.cart {
    padding: 0 20px 20px 20px;
    background-color: #d1f0dc;

    & p {
        font-size: 30px;
        text-align: center;
        padding: 20px;
    }
}

.cart {
    &-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
    }

    &-item {
        width: 200px;
        height: 400px;
        background-color: rgb(190, 190, 190);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto auto 50px;

        & img {
            width: 180px;
            height: 180px;
            margin: 10px;
        }

        & h3 {
            align-self: center;
            justify-self: center;
        }

        & p {
            align-self: center;
            justify-self: center;
        }
        
        & button {
            border: 1px solid black;
            border-radius: 1rem;
            padding: 5px 10px;
            margin: 10px;

            &:hover {
                cursor: pointer;
            }

            &:active {
                background-color: aqua;
            }
        }
    }
}